.wrapper{
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(https://us.123rf.com/450wm/dimamoroz/dimamoroz1705/dimamoroz170505029/79131525-dark-green-felt-texture.jpg);
}